{% extends 'base.html.twig' %}

{% block title %}Atelier Caïman{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1 class="text-info">Bienvenue !</h1>

{% endblock %}
